*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}
body, html { position:relative;}
body{
	background: url(ricepaper_v3.png);
	color: #FFF;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.left{
	float: left;
}
.right{
	float: right;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
button[disabled]{
	opacity: 0.3;
}
.error{
	font-size: 13px;
	text-align: center;
	color: red;
	float: left;
	margin: 0;
	clear: both;
	position: relative;
	top: -12px;
	left: 26px;
}
a{
	background: #3498db;
	border-radius: 5px;
	margin: 0 10px;
	text-decoration: none;
	color: #FFF;
	padding: 10px 15px;
	-webkit-transition: all .5s ease-out;
}
a:hover, a.active{
	background: #89C4F4;
	color: #FFF;
	padding: 10px 15px;
}
.wrapper{
	width: 650px;
	margin: 20px auto;
}
.header{
	text-align: center;
	margin-bottom: 30px;
	text-shadow: none;
}
.title{
	color: #AEA8D3;
	font-size: 2.5em;
	text-shadow: none;
}
.app-explanation-wrapper{
	width: 650px;
	border: 2px solid #FFF;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	background: #A2DED0;
	font-size: 18px;
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
}
.meal-details-wrapper{
	background: #6C7A89;
	width: 400px;
	margin: 0 auto;
	border: 2px solid #FFF;
	padding: 5px 20px 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
}
.meal-details-wrapper h2{
	text-align: center;
	margin: 0;
	padding: 5px 0;
	border-bottom: 2px solid #FFF;
	color: #87D37C;
}
.form-meals-details{
	overflow: hidden;
	margin: 10px 0;
}
.form-meals-details span{
	position: relative;
	left: 90px;
	line-height: 2.5;
}
.form-meals-details .tax{
	left: 136px;
}
.meal-details label{
	float: left;
	line-height: 2.5;
	padding-left: 25px;
	clear: both;
}
.meal-details input{
	width: 100px;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid black;
	float: right;
	color: #000;
}
.btn-submit-cancel{
	margin-left: 90px;
	margin-top: 190px;
	width: 200px;
	clear: both;
}
.btn-submit{
	position: relative;
	margin: 5px;
	background: #2ECC71;
	border: none;
	color: #FFF;
	padding: 10px 15px;
	border-radius: 5px;
	transition: all .25s ease-out;  
}
.btn-submit:hover{
	background: #4DAF7C;
}
.btn-cancel{
	position: relative;
	margin: 5px;
	background: #95A5A6;
	border: none;
	color: #FFF;
	padding: 10px 15px;
	border-radius: 5px;
	transition: all .25s ease-out;
}
.btn-cancel:hover{
	background: #DADFE1;
}
.btn-reset{
	position: relative;
	left: 270px;
	top: 40px;
	margin: 5px;
	background: #95A5A6;
	border: none;
	color: #FFF;
	padding: 10px 15px;
	border-radius: 5px;
	transition: all .25s ease-out;
	min-height: 100%;
}
.btn-reset:hover{
	background: #DADFE1;
}
.customer-charges{
	width: 400px;
	border: 2px solid #FFF;
	padding: 10px;
	clear: both;
	margin: 0 auto;
	position: relative;
	top: 20px;
	border-radius: 10px;
	background: #FDE3A7;
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
}
.customer-charges h2{
	font-size: 22px;
	text-align: center;
	border-bottom: 2px solid #FFF;
	padding-bottom: 10px;
	margin: 0;
	color: #F1A9A0;
}
.customer-charges p{
	font-size: 18px;
	padding-left: 130px;
	color: #663399;
}
.customer-charges .tip{
	position: relative;
	left: 32px;
}
.customer-charges p:nth-child(3){
	border-bottom: 2px solid #FFF;
	padding-bottom: 10px;
}
.customer-charges p:nth-child(4){
	font-weight: bold;
}
.customer-charges .total-charges{
	margin-left: 16px;
}
.earnings-info{
	width: 400px;
	border: 2px solid #FFF;
	padding: 10px;
	border-radius: 10px;
	margin-left: 120px;
	background: #F5D76E;
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
}
.earnings-info h2{
	font-size: 22px;
	text-align: center;
	border-bottom: 2px solid #FFF;
	padding-bottom: 10px;
	margin: 0;
	color: #34495E;
}
.earnings-info p{
	font-size: 18px;
	padding-left: 100px;
	color: #D35400;
}
.loading {
  position:relative;
  height:100%;
  top: 50%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0) no-repeat center 50%;
  background-image: url('./loading-animation.gif');
}
.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter,
.animate-view.ng-leave {
  transition: 500ms linear all;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#eee;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }

#logo{
 	position: fixed;
	top: 310px;
	left: 110px;
	z-index: -1;
}


